/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# do not add the built gem to repo
superset-*.gem

# ignore local .env variables
.env

# ignore local log file
log/superset-client.log
