SUPERSET_HOST="http://localhost:8080/"

# general api calls
SUPERSET_API_USERNAME="USERNAME"
SUPERSET_API_PASSWORD="PASSWORD"

# embedded user guest token api calls
# SUPERSET_EMBEDDED_USERNAME="EMBEDDED-USERNAME"
# SUPERSET_EMBEDDED_PASSWORD="EMBEDDED-PASSWORD"
