ENV['SUPERSET_HOST']         = "https://your-superset-host.com"

# general api calls
ENV['SUPERSET_API_USERNAME'] = "USERNAME"
ENV['SUPERSET_API_PASSWORD'] = "PASSWORD"

# embedded user guest token api calls
# ENV['SUPERSET_EMBEDDED_USERNAME'] = "EMBEDDED-USERNAME"
# ENV['SUPERSET_EMBEDDED_PASSWORD'] = "EMBEDDED-PASSWORD"
