ENV['SUPERSET_HOST']         = "https://your-superset-host.com"

# general api calls
ENV['SUPERSET_API_USERNAME'] = "API-USER-FULL-SUPERSET-UUID"
ENV['SUPERSET_API_PASSWORD'] = "API-USER-PASSWORD"

# embedded user guest token api calls
ENV['SUPERSET_EMBEDDED_USERNAME'] = "EMBEDDED-USER-FULL-SUPERSET-UUID"
ENV['SUPERSET_EMBEDDED_PASSWORD'] = "EMBEDDED-USER-PASSWORD"
